<footer class="footer_m">
	<p class="copyright">&copy;2014 <a href="http://twitter.com/mackenziechild">Mackenzie Child</a> - Photo &copy; <a href="http://www.jakubpolomski.com/84070/841526/gallery/mountains-of-mist">Jakub Polomski</a></p>
</footer>